.logo {
  display: block;
  width: 139px;
  height: 29px;
  background-image: url("../../assets/img/logo.png");
}

.page {
  background-image: url("../../assets/img/back.png");
  height: 100vh;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}
